/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(252, 59, 11);
}
h1,
h2,
h3 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ffffff;
  margin-top: 36px;
  margin-bottom: 20px;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: rgb(252, 59, 11);
}
nav {
  background-color: #ffffff;
  padding: 12px;
}
ol a:hover {
  color: #ffffff;
}