/* -------------------------------------- *
General Styles
* --------------------------------------- */
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap');
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  background-color: rgb(252, 59, 11);
}
.container {
  border: 5px solid #000000;
  display: flex;
  justify-content: space-around;
}

.container > div {
  flex: 1 1 100%;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  margin-top: 36px;
  margin-bottom: 20px;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  background-image: url("../images/Banners/PumpkinBanner.jpg");
  background-size: cover;
  height: 250px;
  background-position: 50% 50%;
  padding: 40px;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: rgb(252, 59, 11);
}
nav {
  background-color: #ffffff;
  padding: 12px;
}
ol a:hover {
  color: #ffffff;
}

.inspiro-img {
  width: 400px;
}

.thumbnail-img {
  width: 40px;
}