/* font-family: belda-normal, sans-serif;
font-weight: 200;
font-style: normal; */

@font-face {
    font-family: "Digory Doodles";
    src: url("fonts/Digory_Doodles_PS.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  h1 {
    font-family: "Digory Doodles";
  }
  body {
    font-family: "Digory Doodles", cursive;
    margin: 0;
    font-size: 12px;
  }
  main {
    width: 70%;
    margin: auto;
  }
  img {
    width: 100%;
  }
  .row-1,
  .row-2 {
    display: flex;
  }
  .row-2 div {
    flex: 1;
  }
  .row-1 div,
  .row-2 div {
    margin: 10px;
  }
  .row-1 .thumb {
    flex: 30%;
  }
  
  .row-1 .content {
    flex: 70%;
  }
  
  .thumb {
    position: relative;
  }
  
  .bottom-label {
    position: absolute;
    bottom: 20px;
    left: 10px;
    max-width: 280px;
  }
  .top-label {
    position: absolute;
    top: 20px;
    left: 10px;
    max-width: 280px;
  }
  
  .yellow-box {
    background-color: #FFFC80;
    border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .yellow-titlebox {
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFC80;
    border: 1px solid #000;
    font-size: 24px;
    width: 45%;
    text-align: center;
  }
  
.container {
    display: flex;
    justify-content: space-around;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}

.logo {
    display: block;
    width: 7%;
    height: auto;
    float: left;
}

.button {
    width: 100%;
    height: auto;
    margin-top: 20px;
}